<form [formGroup]="frmFormulario" (ngSubmit)="onSubmit()">
  <section class="container section-main">
    <header class="header-title">
      <h2>Editar produto</h2>
    </header>
    <section>
      <div class="row">
        <div class="col-xs-12 col-sm-6 form-group">
          <label class="control-label">Nome *</label>
          <input
            type="text"
            class="form-control"
            maxlength="64"
            [class.has-error]="
              frmFormulario.get('nome').invalid && submited
            "
            formControlName="nome"
            placeholder="Informe o nome do produto"
          />
        </div>
        <div class="col-xs-12 col-sm-2 form-group">
          <label class="control-label">Categoria *</label>
          <select
            class="form-control"
            formControlName="categoria_id"
            [class.has-error]="
              frmFormulario.get('categoria_id').invalid && submited
            "
          >
            <option value="">Selecione</option>
            <option *ngFor="let item of listCategorias" [value]="item.id">
              {{ item.nome }}
            </option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-2 form-group">
          <label class="control-label">Preço *</label>
          <input
            type="text"
            class="form-control"
            currencyMask
            [class.has-error]="
              frmFormulario.get('preco').invalid && submited
            "
            formControlName="preco"
            placeholder="Preço"
          />
        </div>
        <div class="col-xs-12 col-sm-2 form-group">
          <label class="control-label">Situação *</label>
          <select class="form-control" formControlName="inativo">
            <option [value]="false">Ativo</option>
            <option [value]="true">Inativo</option>
          </select>
        </div>
        <div class="col-12 form-group">
          <label class="control-label">Descrição *</label>
          <input
            type="text"
            maxlength="256"
            class="form-control"
            [class.has-error]="frmFormulario.get('descricao').invalid && submited"
            formControlName="descricao"
            required
            placeholder="Informe a descrição do produto."
          />
        </div>
        <div class="col-12 form-group">
          <label class="control-label">Ingredientes *</label>
          <textarea
          rows="5"
          class="form-control"
          maxlength="512"
          formControlName="ingredientes"
          [class.has-error]="
            frmFormulario.get('ingredientes').invalid && submited
          "
        ></textarea>
        </div>

        <div class="col-12 form-group">
          <label class="control-label">Modo de preparo *</label>
          <textarea
            rows="5"
            maxlength="512"
            class="form-control"
            formControlName="modo_de_preparo"
            [class.has-error]="
              frmFormulario.get('modo_de_preparo').invalid && submited
            "
          ></textarea>
        </div>
      </div>
    </section>
    <footer class="row">
      <div class="col-sm-6 col-xs-6 form-group">
        <button type="submit" class="btn btn-danger">Salvar</button>
        &nbsp;
        <a
          class="btn btn-default"
          routerLink="/admin/produto-cardapio"
        >
          Cancelar
        </a>
      </div>
      <div class="col-sm-6 col-xs-6 text-right form-group control-label">
        * Campo obrigatório
      </div>
    </footer>
  </section>
</form>
