<nav class="navbar navbar-expand-lg navbar-light bg-red">
  <a class="navbar-brand" routerLink="">Cardápio na Web</a>
  <a class="btn btn-danger btn-cardapio pull-right btn-toggle" (click)="onSetAutoContrast()">
    <i class="fas fa-adjust"></i>
  </a>
  <a
    class="btn btn-danger btn-cardapio pull-right btn-toggle"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fa fa-bars"></i>
</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="./estabelecimento"
          ><i class="fa fa-home"></i>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="./estabelecimento"
          >Estabelecimento</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="./categorias"
          >Categorias</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="./produto-cardapio"
          >Cardápio</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="./produto-cardapio" (click)="onExit()"
          >Sair</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
