<form [formGroup]="frmFormulario" (ngSubmit)="onSubmit()">
  <section class="container section-main">
    <header class="header-title">
      <h2>Cadastro de Produto</h2>
    </header>
    <section>
      <div class="row">
        <div class="col-xs-12 col-sm-6 form-group">
          <label class="control-label">Nome</label>
          <input
            type="text"
            class="form-control"
            [class.has-error]="
              frmFormulario.get('nome').invalid && submited
            "
            formControlName="nome"
            placeholder="Descricao"
          />
        </div>
        <div class="col-xs-12 col-sm-2 form-group">
          <label class="control-label">Categoria</label>
          <select
            class="form-control"
            formControlName="categoria_id"
            [class.has-error]="
              frmFormulario.get('categoria_id').invalid && submited
            "
          >
            <option value="">Selecione</option>
            <option *ngFor="let item of listCategorias" [value]="item.id">
              {{ item.nome }}
            </option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-2 form-group">
          <label class="control-label">Preço</label>
          <input
            type="text"
            class="form-control"
            currencyMask
            [class.has-error]="
              frmFormulario.get('preco').invalid && submited
            "
            formControlName="preco"
            placeholder="Preço"
          />
        </div>
        <div class="col-2 form-group">
          <label class="control-label">Situação</label>
          <select class="form-control" formControlName="inativo">
            <option [value]="false">Ativo</option>
            <option [value]="true">Inativo</option>
          </select>
        </div>
        <div class="col-12 form-group">
          <label class="control-label">Descricao</label>
          <input
            type="text"
            class="form-control"
            [class.has-error]="frmFormulario.get('descricao').invalid && submited"
            formControlName="descricao"
            required
            placeholder="Descricao"
          />
        </div>
        <div class="col-12 form-group">
          <label class="control-label">Ingredientes</label>
          <textarea
          rows="5"
          class="form-control"
          formControlName="ingredientes"
          [class.has-error]="
            frmFormulario.get('ingredientes').invalid && submited
          "
        ></textarea>
        </div>

        <div class="col-12 form-group">
          <label class="control-label">Modo de Prepáro</label>
          <textarea
            rows="5"
            class="form-control"
            formControlName="modo_de_preparo"
            [class.has-error]="
              frmFormulario.get('modo_de_preparo').invalid && submited
            "
          ></textarea>
          <div
            class="row"
            *ngIf="frmFormulario.hasError('invalidConfirm') && submited"
          >
            <div class="col-12" style="padding: 8px 5px 5px 15px">
              <span class="text-danger"
                ><strong>Confirme a senha corretamente</strong></span
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="row">
      <div class="col-12 form-group">
        <button type="submit" class="btn btn-danger">Salvar</button>
        &nbsp;
        <a
          class="btn btn-default btn-cardapio-default"
          routerLink="/admin/produto-cardapio"
        >
          Cancelar
        </a>
      </div>
    </footer>
  </section>
</form>

{{this.frmFormulario.value | json}}
