<nav
  class="navbar navbar-expand-md navbar-dark bg-red fixed-left"
  [class.contrast-adapter]="getContrast()"
  id="target"
>
  <a class="navbar-brand" routerLink="">Cardápio na Web </a>

  <button class="navbar-toggler btn-toggle" type="button" title="Ativar recurso de contraste">
    <i class="fas fa-adjust"></i>
  </button>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsMobile"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [id]="navbarsExampleDefault">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Menu</a>
        <ul>
          <li
            *ngFor="let item of listCategorias"
            data-toggle="collapse"
            data-target="#navbarsMobile"
          >
            <a
              routerLink="../cardapio/item-cardapio-categoria/{{ item.id }}"
              class="nav-link"
              >{{ item.nome }}</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<section class="container-fluid container-settings">
  <router-outlet></router-outlet>
</section>
<div vw class="enabled">
  <div vw-access-button class="active"></div>
  <div vw-plugin-wrapper>
    <div class="vw-plugin-top-wrapper"></div>
  </div>
</div>
