.title-site {
  font-family: "Oleo Script Swash Caps", cursive !important;
  font-size: 95px;
  color: #fff;
  text-shadow: 4px 5px #000;
  margin-top: 150px;
}

.figure-logo figcaption {
  padding: 50px 0px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}


