
figure{
  padding:50px;
}

figure img{
  width:250px;
}




@media (max-width: 360px) {


figure{
  padding:10px;
}

  figure img{
    width:190px;
  }

  .info-not-found{
    padding: 15px 0px;
    font-size: 20px;
  }

  .info-not-found-detail{
    padding: 15px 0px;
    position: relative;
    font-family: "Oleo Script Swash Caps", cursive !important;
    font-size: 17px;
    color: #000 !important;
    display: block;
  }
}
