/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto&display=swap");

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("./assets/images/back-ground.jpg") repeat-y;
}

/*Default Style*/

.home-title-site {
  font-family: "Oleo Script Swash Caps", cursive !important;
  font-size: 95px !important;
  color: #fff;
  text-shadow: 2px 3px #000;
  margin-top: 150px;
}

.title-site {
  color: #fff;
}

.bg-red {
  background: rgb(197, 9, 61);
  color: #fff;
}

.navbar-light .navbar-nav li .nav-link {
  color: #fff !important;
}

.navbar-brand {
  font-family: "Oleo Script Swash Caps", cursive !important;
  color: #fff !important;
}

.section-cadastro {
  margin-top: 25px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px 5px;
  padding: 25px;
}
.section-main {
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px 5px;
  padding: 25px;
}

.section-cadastro h2 {
  font-family: "Oleo Script Swash Caps", cursive !important;
  font-size: 25px;
}

.logo-cadastro {
  display: inline-block;
}

.logo-cadastro img {
  width: 90px;
}

.btn-cardapio {
  font-family: "Oleo Script Swash Caps", cursive !important;
  font-size: 25px;
}

.btn-rounded {
  border-radius: 218px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  width: 33px;
  justify-content: center;
  padding: 6px 10px;
}

.btn-cardapio-default {
  background-color: #ececec !important;
}

.has-error {
  border: 1px solid #a94442;
  background-color: #f3b3b3 !important;
  box-shadow: -1px 0px 17px #a94442;
  color: #a94442 !important;
}
.has-error::before {
  color: #a94442 !important;
}

.table-cardapio-web {
  font-family: "ABeeZee", sans-serif;
  font-size: 0.9em;
}

.table-cardapio-web thead {
  background-color: #c5093d !important;
  color: #fff;
  border: none;
}

.table-cardapio-web thead th {
  font-weight: 400 !important;
  padding: 10px 15px 8px 15px;
  border: none;
  font-size: 1.2em !important;
}

.table-cardapio-web tbody td {
  background-color: #fff;
  font-weight: 400 !important;
  padding: 5px;
  border-right: 1px solid rgba(255, 0, 10, 0.05);
  padding: 8px 15px 2px 15px;
}

.table-cardapio-web tbody td.actions {
  width: 10% !important;
}

.footer-info {
  font-weight: 500 !important;
  font-family: "ABeeZee", sans-serif;
}

.header-title h2 {
  font-family: "ABeeZee", sans-serif !important;
  font-weight: 600 !important;
}

.btn-toggle {
  padding: 9px 15px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1400;
}
.container-contrast {
  position: fixed;
  max-width: 95vw;
  right: 0;
  top: 52%;
  margin-top: -32vh;
  z-index: 99999999;
  font-family: Arial;
  color: #000;
  line-height: 1.3;
}

.btn-toggle-monitor {
  padding: 8px 10px;
  background: #fff;
  display: flex;
  border-radius: 13px;
  margin-top: 16px;
}

[vp] .vpw-settings-btn {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #c5093d !important;
}

[vp] .vpw-controls.vpw-playing .vpw-controls-play .vpw-component-pause {
  display: block;
  margin: 0 11px;
  cursor: pointer;
  color: #c5093d !important;
}

.header-cardapio {
  color: #fff;
  font-size: 3.5em;
  padding: 45px 5px 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-cardapio .title-cardapio {
  font-family: "Oleo Script Swash Caps", cursive !important;
  font-size: 0.9em;
}

.header-cardapio .title-cardapio i {
  margin-right: 10px;
}

.container-group {
  font-family: "Oleo Script Swash Caps", cursive !important;
  font-size: 0.9em;
  color: rgb(197, 9, 61);
}

.container-group .container-group-title {
  font-size: 2.5em;
}

.item-cardapio-container {
  padding: 25px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  font-family: "Oleo Script Swash Caps", cursive !important;
}

.item-cardapio-container .product-name,
.item-cardapio-container .product-price {
  color: rgb(197, 9, 61);
  font-size: 1.5em;
}

.item-cardapio-container .product-description {
  font-family: "Oleo Script Swash Caps", cursive !important;
  font-size: 1.1em;
  padding-top: 10px;
  display: block;
}

.contrast-adapter .product-name,
.contrast-adapter .product-price,
.contrast-adapter .product-description,
.contrast-adapter .container-group-title,
.contrast-adapter .home-title-site,
.contrast-adapter .navbar-nav li a,
.contrast-adapter .btn-danger,
.contrast-adapter .vw-text {
  color: yellow !important;
}

.contrast-adapter .vw-text,
.contrast-adapter .vw-text-active {
  color: yellow !important;
  background-color: rgba(255, 255, 255, 0.2);
}

.contrast-adapter .title-cardapio {
  color: #000 !important;
}

.contrast-adapter .btn-danger,
.contrast-adapter .bg-red {
  background-color: #000;
}

.contrast-adapter .item-cardapio-container {
  background-color: #000;
  border-bottom: 1px solid #000;
}

.contrast-adapter .section-main {
  margin-top: 25px;
  background-color: #000;
  border-radius: 5px 5px;
  padding: 25px;
}

body.contrast-adapter {
  background: #fff !important;
}

@media (min-width: 770px) and(max-width:1550px) {
  .container-settings {
    padding-left: 250px;
  }
}

@media (min-width: 768px) {
  .navbar.fixed-left {
    bottom: 0;
    width: 232px;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .navbar.fixed-left .navbar-collapse {
    flex-grow: 0;
    flex-direction: column;
    width: 100%;
  }

  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar.fixed-left .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar.fixed-left {
    right: auto;
  }
}

@media (max-width: 420px) {

  .header-cardapio {
    margin-top: 49px;
}
  .btn-toggle-monitor {
    display: none !important;
  }
  .home-title-site {
    font-size: 40px !important;
    white-space: nowrap;
    margin-top: 10px !important;
  }

  .figure-logo img {
    width: 75%;
  }

  .btn-cardapio {
    font-family: "Oleo Script Swash Caps", cursive !important;
    font-size: 15px !important;
  }

  .section-cadastro h2 {
    font-family: "Oleo Script Swash Caps", cursive !important;
    font-size: 19px;
  }

  div[vw-access-button] {
    display: none !important;
  }

  .btn-toggle-monitor {
    display: none;
  }

  .header-cardapio-title {
    font-family: "Oleo Script Swash Caps", cursive !important;
    font-size: 1.5em;
  }

  .header-cardapio {
    color: #fff !important;
    font-size: 1.5em;
    padding: 25px 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item-cardapio-container {
    padding: 15px 10px;
  }

  .item-cardapio-container .product-name,
  .item-cardapio-container .product-price {
    color: rgb(197, 9, 61);
    font-size: 1.3em;
  }

  .produto-cardapio .title {
    font-size: 15px;
  }

  .produto-cardapio .description {
    font-size: 0.8em;
  }

  .contrast-adapter .produto-cardapio .product-name {
    color: #000 !important;
  }
}
